.buttonToolbarDiv {
  display: contents;
}

.suggestionButton:hover {
  transform: scale(1.05);
}

.suggestionButton {
  background-image: linear-gradient(40deg, #ff0080, #008ef2);
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin: 0.5em 1em;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  border-width: 0;
  transition: all 0.2s ease-in-out;
}

.editNodeData {
  background: white;
  border-radius: 10px;
  max-height: calc(100vh - 4px - 38px);
  overflow-y: auto;
  padding: 12px 0 24px 0;
  position: absolute;
  right: 4px;
  top: 38px;
  width: 400px;
}

.editNodeData div {
  color: rgb(29, 30, 32);
  font-size: 16px;
  font-weight: 500;
  margin: 4px 21px;
}

.editNodeData input,
.editNodeData textarea {
  border-radius: 4px;
  margin: 2px 20px 12px 20px;
  width: calc(100% - 40px);
}

.editNodeData textarea {
  height: calc(37px * 3);
  resize: none;
}

.editNodeData span {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0 0 20px;
  padding: 8px;
}

.editTools div {
  border-radius: 4px;
  height: 50px;
  margin: 5px;
  transition: background-color 0.2s;
  width: 50px;
}
