@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-with-text {
    @apply py-2 px-4 inline-flex items-center border border-transparent text-white text-sm font-medium rounded-lg;
  }
  .btn-deactivated {
    @apply btn-with-text cursor-default bg-gray-300 focus:ring-transparent;
  }
  .btn-activated {
    @apply btn-with-text cursor-pointer shadow-sm hover:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-opacity-75;
  }
  .btn-blue {
    @apply btn-activated bg-blue-600 hover:bg-blue-700 focus:ring-blue-500;
  }
  .btn-red {
    @apply btn-activated bg-red-600 hover:bg-red-700 focus:ring-red-500;
  }
  .btn-green {
    @apply btn-activated bg-green-600 hover:bg-green-700 focus:ring-green-500;
  }

  .btn-2 {
    @apply btn-activated bg-gray-400 hover:bg-gray-500 focus:ring-gray-300;
  }
  .btn-3 {
    @apply btn-with-text cursor-pointer text-base text-gray-600 hover:text-gray-800 border-transparent;
  }

  .white-icon-btn {
    @apply flex-shrink-0 bg-white shadow-sm hover:shadow-md w-auto rounded-full focus:outline-none;
  }
  .gray-icon-btn {
    @apply white-icon-btn ml-1 lg:ml-6 p-1 text-gray-400 hover:text-gray-500;
  }
  .mobile-icon-button {
    @apply flex flex-row justify-between items-center w-full max-w-3xl mx-auto rounded-md py-2 px-3 text-base font-medium text-gray-500;
  }
  .btn-grow {
    @apply hover:transform hover:scale-105 ease-in-out duration-200;
  }
}

.disableTouchActions {
  touch-action: none;
}

html {
  overflow: hidden;
}

/*DESKTOP*/
@media only screen and (min-device-width: 768px) {
  html,
  body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
  }
}

.select2-search__field {
  height: 1.2em !important;
  resize: none !important;
  overflow: hidden !important;
}

.select2-dropdown {
  color: black;
}

/* Community voting arrows */
.vote-arrow {
  width: 30px;
  height: 30px;
}

.triangle {
  width: 0;
  height: 0;
  border-width: 15px;
}

.triangle.up {
  border-top: 0 solid transparent;
  border-bottom-width: 30px;
}

.triangle.down {
  border-bottom: 0 solid transparent;
  border-top-width: 30px;
}
