.disableTouchActions {
  touch-action: none;
}

.top-toolbar {
  position: absolute;
}

.profileImage {
  border-radius: 50%;
  background-color: #f4f4f4;
  margin: 5px;
  display: initial;
}

.profileImage:hover {
  margin: 0;
  cursor: pointer;
  border: 5px solid rgba(91, 91, 91, 0.8);
}

.profileEmail {
  color: #5b5b5b;
  font-weight: normal;
  overflow-wrap: anywhere;
}

/*DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .profileImage {
    width: 2em;
    height: 2em;
  }
  .profileImage:hover {
    width: calc(2em + 10px);
    height: calc(2em + 10px);
  }
}
/*MOBILE*/
@media only screen and (max-device-width: 769px) {
  .profileImage {
    width: 3em;
    height: 3em;
  }
  .profileImage:hover {
    width: calc(3em + 10px);
    height: calc(3em + 10px);
  }
}
